.DS_Store
__pycache__/
*.pyc

# TensorFlow logs/checkpoints
logs_*/
*.ckpt*
events.out.tfevents.*

# CIFAR data
cifar-10-batches-py/
cifar-100-python/
*.tar.gz

# PyTorch
*.pt
*.pth
runs/

# misc
.ipynb_checkpoints/
venv/
.venv/
